{% extends 'common.html' %}
{% load static %}
{% block content %}
<div class="container text-center my-5">
    <div class="spinner-border text-info" role="status"></div>
    <h3 class="mt-3">Connecting to Secure Payment Gateway...</h3>
    <p>Please do not refresh or close this window.</p>
</div>

<script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
<script>
    const cashfree = Cashfree({
        mode: "sandbox" 
    });

    window.onload = function() {
        let checkoutOptions = {
            paymentSessionId: "{{ payment_session_id }}",
            redirectTarget: "_self", 
        };
        cashfree.checkout(checkoutOptions);
    };
</script>
{% endblock %}